{% extends "base.html" %}
{% load static %}

<!-- It actually works! -->
{% block css %}
<style type="text/css">
  .article-title {
      font-family: Arial, Verdana, Helvetica;
      color: black;
      font-weight: bold;
      font-size: 150%;
  }


// https://foundation.zurb.com/building-blocks/blocks/button-like.html
.button-like {
  border: 2px solid #8a8a8a;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: #8a8a8a;
  transition: all ease 0.4s;
}

.button-like span {
  margin-left: 0.5rem;
}

.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}

.button-like:focus {
  background-color: transparent;
}

.button-like:focus .fa,
.button-like:focus span {
  color: #8a8a8a;
}

.button-like:hover {
  border-color: #cc4b37;
  background-color: transparent;
}

.button-like:hover .fa,
.button-like:hover span {
  color: #cc4b37;
}

.liked {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked .fa,
.liked span {
  color: #fefefe;
}

.liked:focus {
  background-color: #cc4b37;
}

.liked:focus .fa,
.liked:focus span {
  color: #fefefe;
}

.liked:hover {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked:hover .fa,
.liked:hover span {
  color: #fefefe;
}



  textarea,
  textarea:disabled,
  textarea[readonly] {
    border: 5px solid white;
    opacity: 0.5;
    color: black;
    font-weight: bolder;
    font-family: courier, monospace;
    cursor: text;
    resize: vertical;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  }

  /* The user can expand the textarea and/or scroll to see more code inside. */
  textarea[readonly] {
    min-height: 100px;
  }

  textarea:hover,
  textarea[readonly]:hover {
    background-color: Lavender;
  }

  .button {
      font-family: courier, monospace;
      font-weight: bold;
      color: white;
  }

  .inner_article {
     background-color:  #cce6ff;
     padding: 15px;
     //opacity: 0.8;
   }

    /*
   .inn_article {
     background-color: blue;
   }
   */

   .page_filler {
     width: 100%;
     height: 100%;
     margin-left: auto;
     margin-right: auto;
     max-width: initial;
     min-height:100vh;
   }

   .response_class {
     margin: 20px;
     padding: 10px;
     border: 5px solid black;
     border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: cyan;
    }

    .response_holder {
        margin: 0px;
        padding: 0px;
    }

    .response-comment-hidden {
        display: none;
        margin: 0px;
        padding: 0px
    }

    .response-comment-seen {
        display: block;
        margin: 0px;
        padding: 0px
    }

    .comments_holder {
        margin: 0px;
        padding: 0px;
    }

    {% block article_style %}
    {% endblock %}

</style>
{% endblock %}


{% block content %}
    <div class="grid-x grid-margin-x whole_page">

      <div class="cell small-0 medium-1 large-2"></div>
      <div class="cell small-12 medium-10 large-8 inner_article">

        <!-- The body of the article. -->
        <p class="article-title">{{ target_article.article_title }}</p>
        <p>
        By {{ target_article.author_name }} on {{ target_article.article_date }}
        </p>
        <p>
          {% block article %}
          {% endblock %}
        </p>
        <p>
        Num views: {{ target_article.article_views }}
        <br />
        Num likes: {{ target_article.article_likes }}
        </p>
        <button class="button button-like">
          <i class="fa fa-heart"></i>
          <span>Like</span>
        </button>

        <div class="divider-line">
        </div>
        <p>{{ user_prompt }}</p>
        <!-- The response_form is the same template for both ResponseForm
             and UserResponseForm objects. The views.py determines which
             kind of form is sent to the client based on if the user is logged
             in or not. There is no need for a separate template code
             condition.
        -->
        {% if show_form %}
          <!-- If form input data is retrieved from the user,
               go back to the same article! -->
          <form action="/article/{{ target_article.article_link }}/" method="post">
            {% csrf_token %}
            {{ response_form }}
            <input type="submit" id="submit" class="button round" value="Add Response">
          </form>
        {% endif %}
      </div>
      <div class="cell small-0 medium-1 large-2"></div>

      <div class="cell small-0 medium-1 large-2"></div>
      <div class="cell small-12 medium-10 large-8 inner_article">
        <p>List of all responses:</p>
        {% for ResponseWithComments in item_list %}
          <div class="response_holder">
            <!-- This is the actual response box. -->
            <!-- onmouseover is for computers, onClick is for mobile phones. -->
            <div class="response_class" onmouseover="
            this.nextElementSibling.className = 'grid-x grid-margin-x response-comment-seen';"
            onClick = "
            this.nextElementSibling.className = 'grid-x grid-margin-x response-comment-seen';">
              {% if ResponseWithComments.response.response_type == "anon" %}
              <p>
                By {{ ResponseWithComments.response.author_name }} on {{ ResponseWithComments.response.response_date }}
              </p>
              {% elif ResponseWithComments.response.response_type == "user" %}
              <p>
                By {{ ResponseWithComments.response.response_author.first_name }} {{ ResponseWithComments.response.response_author.last_name }} ({{ ResponseWithComments.response.response_author.username }}) on {{ ResponseWithComments.response.response_date }}
              </p>
              {% endif %}
              <p class="response_content">
                {{ ResponseWithComments.response.response_content }}
              </p>
            </div>

            <!-- This is the comment form. -->
            <!-- We want to show the specific comment_form with bad input if it has errors -->
            <!-- Comparing the ResponseWithComments.response.response_type and ResponseWithComments.response.id is needed so that we
                 show only the comment_form with the bad input and hide the rest. -->
            {% if comment_form_errors and ResponseWithComments.response.response_type == bad_response_type and ResponseWithComments.response.id == bad_response_id %}
            <div class="grid-x grid-margin-x response-comment-seen">
            {% else %}
            <div class="grid-x grid-margin-x response-comment-hidden">
            {% endif %}
              <div class="cell small-12 medium-6 large-4 medium-offset-6 large-offset-8">
                <form action="/add_comment/" method="post">
                  {% csrf_token %}
                  {% if comment_form_errors and ResponseWithComments.response.response_type == bad_response_type and ResponseWithComments.response.id == bad_response_id %}
                  {{ bad_comment_form }}
                  {% else %}
                  {{ comment_form }}
                  {% endif %}
                  <input type="hidden" name="parent_response_id" value="{{ ResponseWithComments.response.id }}">
                  <input type="hidden" name="parent_response_type" value="{{ ResponseWithComments.response.response_type }}">
                  <input type="submit" id="submit" class="button round" value="Add Comment">
                </form>
              </div>
            </div>

            <!-- This is the list of all comments on that particular response. -->
            <div class="grid-x grid-margin-x comments_holder">
              {% for comment in ResponseWithComments.my_comments %}
                <div class="cell small-10 medium-9 large-8 small-offset-2 medium-offset-3 large-offset-4">
                  <!-- Reuse the response_class CSS style for comments. -->
                  <div class="response_class">
                    {% if comment.comment_type == "anon" %}
                    <p>
                      By {{ comment.author_name }} on {{ comment.comment_date }}
                    </p>
                    {% elif comment.comment_type == "user" %}
                    <p>
                      By {{ comment.comment_author.first_name }} {{ comment.comment_author.last_name }} ({{ comment.comment_author.username }}) on {{ comment.comment_date }}
                    </p>
                    {% endif %}
                    <p class="response_content">
                      {{ comment.comment_content }}
                    </p>
                  </div>
                </div>
              {% endfor %}

            </div>
          </div>
        {% endfor %}
      </div>
      <div class="cell small-0 medium-1 large-2"></div>
{% endblock %}

{% block scripts %}
<script>
// https://foundation.zurb.com/building-blocks/blocks/button-like.html
$(document).foundation();

$(function() {
  $('.button-like')
    .bind('click', function(event) {
      $(".button-like").toggleClass("liked");
    })
});


</script>


<!--
I let the user write code in their responses and comments by placing ``` before
and after each source code. This script finds every instance of such marked
source code and styles it as code. I want whitespace to be preserved exactly
in my source code listings, and I don't want the html parses to omit some
characters or treat the code as actual html tags.
-->
<script>
  var code_delimiter = "```";

  // all_responses is a NodeList of all <p> response tags.
  var all_responses = document.getElementsByClassName("response_content");
  // Always cache the lengths for improved efficiency.
  var num_responses = all_responses.length;

  for (var i = 0; i < num_responses; ++i) {
      // current_response is a <p> node containing the text of the response.
      var current_response = all_responses[i];
      // The text of the response as a string.
      var response_text = current_response.firstChild.nodeValue;
      // The number of characters in the response_text string.
      var num_chars = response_text.length;

      // The number of code_delimiters in the response text.
      var num_delimiters = 0;
      // The index into the code_delimiter string.
      var index1 = 0;

      // This loop counts the number of code_delimiters "```".
      for (var j = 0; j < num_chars; ++j) {
          if (code_delimiter[index1] == response_text[j]) {
              // The current character matches.
              ++index1;
          } else {
              // No match.
              index1 = 0;
          }

          // All 3 characters of "```'" matched.
          // We found a code delimiter!
          if (index1 == 3) {
              ++num_delimiters;
              index1 = 0;
          }
      }

      // If you are replacing a value (and not a regular expression),
      // only the first instance of the value will be replaced in the string.
      // replace() returns us a new string, so we have to reassign the returned
      // string to the response_text string to apply the changes.
      // This makes it replace each code delimiter in ordered sequence.
      for (var j = 0; j < num_delimiters; ++j) {
          // delimits start of code
          if (j % 2 == 0) {
              response_text = response_text.replace("```", "<textarea readonly>");
          // delimits end of code
          } else {
              response_text = response_text.replace("```", "</textarea>");
          }
      }

      // The text on the webpage comes from the model in the database.
      // Before coming into the database, data from the user has to go through
      // a custom form validator which ensures that there will always be an
      // even number of code delimiters, or in other words, for every opening
      // code delimiter there will always be a closing code delimiter.

      // Save the modified response_text string into the actual <p> node.
      current_response.innerHTML = response_text;
  }
</script>


<!--
I used to have the problem that my textareas were too small for the text
contained within, and the user would have to manually resize each textarea.
This script implements that functionality for them by automatically resizing
each readonly textarea.
Source: https://stackoverflow.com/a/24676492/5500589
-->
<script>
    var textareaList = document.getElementsByTagName("textarea");
    var num_textareas = textareaList.length;
    for (var i = 0; i < num_textareas; ++i) {
        var curr_textarea = textareaList[i];
        // Only resize readonly textareas.
        if (curr_textarea.readOnly) {
            curr_textarea.style.height = (curr_textarea.scrollHeight) + "px";
        }
    }
</script>

{% endblock %}

<!-- my -->