{% extends "article.html" %}
{% load static %}


{% block article %}
<p>
There have been many predictions about the future of technology. My father remembers how
during the 60’s and 70’s there were many people in the Soviet Union who printed their own predictions,
in the popular magazines, about what technological breakthroughs there will be at the dawn of the new
millennium: teleportation, lightsabers, mind-reading computers, etc, etc. Those predictions never came
true. However, my father’s uncle, who was one of the leading scientists in the Soviet space program,
predicted that by around the year 2000 there will be computers about the size of a book. This example
illustrates that we need to base our predictions about what the future may hold for technological
progress not on enthusiasm and speculations, but on practical scientific knowledge. We also need to be
aware that quick bursts of technological progress, like the one we’ve seen in the 20 th and 21 st centuries
are not the rule, but the exception. They are the culmination of a long process of slow evolution, and
they are almost always followed by a plateau of very slow growth, or in some cases, stagnation. Ray
Kurzweil, an American scientist and speculator about the future of technology, has predicted many
times that within 15 years from now, humans will merge with machines in an event he calls the
Singularity. Yet year after year, he keeps pushing that date farther and farther into the future. What this
idea of a supposed technological breakthrough is, and why it is at best silly and at worst potentially
dangerous for the human species, is the main topic of my paper.
</p>

<p>
According to Ray Kurzweil, the human species is destined to be replaced by a post-human
species of robots or cyborgs. He claims that as computer and robotic technologies keep advancingexponentially, it is only a matter of time when these technologies will take over our bodies, and we will
all replace our biology with cybernetics. He proposes that as a first step to this, there will be made
computer chip implants that would go into the human body to supposedly get rid of its “biological
flaws.” At first glance, it may seem like a harmless idea, even an improvement, but let’s consider the
effects that such implants would have on the human body. Being obviously made of inorganic
substances, these computer chips would affect the human body negatively. It is inevitable that these
implants would leak heavy metals and other toxic compounds into the bloodstream and poison the
tissues directly around them. It is worth noting that computer chips create a small, but measurable
electromagnetic field. This form of ionizing radiation disrupts the body’s own biological
electromagnetic vibrations, and can lead to a variety of disorders, as medical studies done on frequent
users of smartphones and bluetooth headsets show. It has been shown that cancer can be caused by
exposure to radiation and toxins. Over time, damage to the internal organs would result, especially if
the cybernetic implants would be inserted deep inside the body. There is also the possibility of having
an out of control autoimmune reaction as the body tries to get rid of a foreign object that is causing it
harm. Now it is apparent why the Singularity is an issue that the Ministry of Public Healthcare should
be concerned about.
</p>

<p>
Despite the obvious health issues resulting from such implants, Ray Kurzweil doesn’t stop
there. He advocates the total replacement of the “inefficient” human brain with a computer. However,
the brain can process information much more faster than a computer can. It is much more energy
efficient too, not needing complicated liquid cooling systems like the supercomputers that hope to
reach a fraction of its power. Also unlike supercomputers, the human brain obviously does not need to
occupy an entire room. It is also a well-known fact that most people use only 10% of the potential of
their brain. A computer machine, being a product of intelligent design, cannot possibly match the
human brain, a product of millions of years of evolution, perfected by forces of adaptation and natural
selection.
</p>

<p>
We humans are not machines, reacting to our environment on autopilot based on some chain of
chemical reactions. There is also the mind as the non-physical part of your body, from which your
consciousness stems. Computer can be programmed to do repetitive or predictable tasks using
algorithms. Playing chess or calculating financial transactions are two examples of such simple and
routine patterns. The human mind may not be good at crunching numbers, but it has some advantages
over a software program. These include: patten recognition, creativity, reason, conscience, honor,
common sense, altruism, and morality. The actions of the crew of the nuclear-powered submarine of the
Russian navy, the Kursk, demonstrate these above mentioned attributes of the human mind. During a
naval exercise, this submarine had an accident, and sunk to the bottom of the sea with all the crew on
board. The lead engineer of the Kursk, who was in charge of maintaining the nuclear reactors which
powered the vessel, faced a choice. He could either keep the power on for the crew to have a chance of
escaping the sunken submarine, but risking a possible overheating and meltdown of the reactors, or
turning the power off, inevitably sealing the crew’s fate to die in the submarine but saving the world
from an underwater Chernobyl or Fukushima. Acting according to instructions and to his own morality,
he picked the second choice. Could a robot make the right decision in this situation? Also, could a
person who would go to such great lengths as to turn themselves into a robot for the case of preserving
their physical existence make this decision?
</p>

<p>
Of course, the proponents of the Singularity would then cite the convenience of their artificial
path of development. The human body, including the brain eventually ages and dies, while a robotized
body can be made to last indefinitely. This would prolong the lifespan of an individual. I am not
completely against that idea, but I think that it should be allowed only for old people, who will
definitely not have children. For example, an aging prominent scientist who fears to lose their memory
due to aging, could ask themselves to be robotized in order to continue making positive contributions to
society. Additionally, nanobots could be used for medical diagnostics or non-invasive surgery only
temporarily, but not permanently inside the human body. There are limits to where you can use atechnology. Completely replacing the healthy biological functions of the human body, with ones based
on computer or robotic technology, as Ray Kurzweil suggests, is outside these limits. The strength of
the human biology lies in adaptation. When you replace the product of billions of years of evolution
with a simple machine, you shortcut, or rather short-circuit this process. Machines are designed only
once. They cannot adapt to changing environmental circumstances. As Charles Darwin pointed out,
biological reproduction, natural selection, and evolution, are the main pillars of the survival of species.
The convenient artificial route, conversion of the human species to cyborgs marks the beginning of the
end of its evolution. For example, one single disruption, such as a new virus could wipe out an entire
population of robotized beings, because cyborgs can only exist in an artificial environment which is
frozen in time, unchanging. However, everything in the Universe is changing, or adapting!
The proponents of the Singularity are unable or unwilling to see this. They favor the extension of an
individual’s lifespan over the best interests of the human species as a whole. This is why their idea is
dangerous to the future development of humanity, and must be stopped.
</p>

<p>
What would be the opposite result, if the Singularity is allowed to go through without any
resistance, and humanity becomes a species of robotized beings? To answer this question, I would like
to ask our cosmic neighbors, other space-faring civilizations who are far ahead of us in terms of
technology. Just like us, they too were once faced with this decision. What was their choice as a
species? I would like to make a hypothesis. For example, the Fermi Paradox says that if advanced
space-faring civilizations are so numerous, why do we not see tangible evidence of their presence in the
outer space? Why haven’t they already colonized the entire Universe by now? Maybe the majority of
these civilizations became out of sync with their environment. They chose the straight and easy path of
artificiality offered by the Singularity, stopped biologically reproducing and evolving, and eventually
died out. Maybe this extinction of civilizations is the cause of the Fermi Paradox. What will happen to
the human species? Will be choose the holistic, ecological, and wise route, or will we choose the
artificial one, just as we did with pesticides, industrial pollution, and depletion of natural resources?
</p>

{% endblock %}
